canvas {
  display: block;
  position: absolute;
  border: 1px solid #000;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hide {
  display: none;
}

#player-name-container {
  margin: auto;
  width: 50%;
  text-align: center;
}
